<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      The <a href="http://www.railstutorial.org/"><em>All about the Glanc App</em></a>  This is where Manny and I dominate the future. Glanc app is all about conncecting with people. Never again is the time when you have to guess the location of your friends, or even understand where you, yourself are. Let Glanc send automatic updates on your location, let your friends know when you've entered a specified location, send pushes about where you are and ultimately find that place to meet in the middle.
    </p>




