<% provide(:title, "Help") %>
    <h1>Need some Glanc App /h1>
    <p>
      This is the help page for the
      <a href="http://www.railstutorial.org/">Please contact us by glancappAgmail.com for any questons or concerns
    </p>


